<div class="swiper swiper-2">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div data-aos="flip-down" class="box_overlay">
                <div class="pic row" align="center">
                    <figure class="col-lg-6 col-md-12 col-sm-12 col-12"><img  width="20%" src="http://www.ansonika.com/homealarms/img/testimonial_1.jpg" alt="" class=" img-circle">
                    </figure>
                    <h4 class="col-lg-6 col-md-12 col-sm-12 col-12">Roberta<small>12 October 2015</small></h4>
                </div>
                <div class="comment">
                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div data-aos="flip-down" class="box_overlay">
                <div class="pic row" align="center">
                    <figure class="col-lg-6 col-md-12 col-sm-12 col-12"><img width="20%" src="http://www.ansonika.com/homealarms/img/testimonial_1.jpg" alt="" class="img-circle">
                    </figure>
                    <h4 class="col-lg-6 col-md-12 col-sm-12 col-12">Roberta<small>12 October 2015</small></h4>
                </div>
                <div class="comment">
                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div data-aos="flip-down" class="box_overlay">
                <div class="pic row" align="center">
                    <figure class="col-lg-6 col-md-12 col-sm-12 col-12"><img width="20%" src="http://www.ansonika.com/homealarms/img/testimonial_1.jpg" alt="" class="img-circle">
                    </figure>
                    <h4 class="col-lg-6 col-md-12 col-sm-12 col-12">Roberta<small>12 October 2015</small></h4>
                </div>
                <div class="comment">
                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
