<footer>
    <div class="container-fluid">
        <div class="row up-footer">
            <div class="col-lg-4 pe-4">
                <img src="http://www.ansonika.com/homealarms/img/logo-footer.png" width="190" height="44"
                    alt="Home Alarms" id="logo_footer">
                <p>Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit
                    ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus
                    instructior in.</p>
            </div>
            <div class="col-lg-3 float-end">
                <h3>Discover</h3>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Quotation</a></li>
                    <li><a href="">Contacts</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Terms and condition</a></li>
                </ul>
            </div>
            <div class="col-lg-5 float-end">
                <h3>Contacts</h3>
                <ul id="contact_details_footer">
                    <li id="address_footer"><i class="fa-solid fa-house"></i> <span> 4 West 31st Street New York, New
                            York - 10001<br>United States </span></li>
                    <li id="phone_footer"><i class="fa-solid fa-mobile-screen"></i> <span>+45 423 445 99 / +45 423 445
                            99</span></li>
                    <li id="email_footer"><i class="fa-regular fa-envelope"></i> <span> info@homealarms.com </span></li>
                </ul>
            </div>
        </div>
        <hr class="hr2">
        
        <div class="social-footer">
                <span><i class="fa-brands fa-facebook-f"></i></span>
                <span><i class="fa-brands fa-twitter"></i></span>
                <span><i class="fa-brands fa-google"></i></span>
                <span><i class="fa-brands fa-vimeo-v"></i></span>
        </div>
        <div class="row copyright">
            <div class="container">
               © Home Alarms 2021 - All rights reserved.
            </div>
        </div>
        
    </div>

</footer>
<div class="copyright">
    <div class="container">
        © Home Alarms 2021 - All rights reserved.
    </div>
</div>