<main><section class="head-parallax">
    <div class="sub_content_in">
        <div class="container">
            <h1>About Us</h1>
            <p>"Usu habeo equidem sanctus no ex melius"</p>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="intro">
        <figure>
            <img class="home img-responsive" src="http://www.ansonika.com/homealarms/img/about_1.jpg" alt="">
            <figcaption>
                <h2>"HOME SECURITY EXPERTS SINCE 1998"</h2>
                <p class="lead">
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit
                    ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus
                    instructior in.
                </p>
            </figcaption>
        </figure>
    </div>
    <hr class="dotted">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 words">
                <h3>Some words about us</h3>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <h4>Mission</h4>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <h4>Filosofy</h4>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <ul class="feat" id="about">
                <li>
                    <span><i class="fa-regular fa-circle-check"></i></span>
                    <span class="ps-3"><h4>Professional Service</h4>
                    <p>
                        Eum purto epicurei cotidieque at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos.
                    </p></span>
                </li>
                <li>
                    <span><i class="fa-regular fa-circle-check"></i></span>
                    <span class="ps-3"><h4>Affordable Prices</h4>
                    <p>
                        Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in.
                    </p></span>
                </li>
                <li>
                    <span><i class="fa-regular fa-circle-check"></i></span>
                    <span class="ps-3"><h4>Great Support</h4>
                    <p>
                        Eum purto epicurei cotidieque at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in.
                    </p></span>
                </li>
                <li>
                    <span><i class="fa-regular fa-circle-check"></i></span>
                    <span class="ps-3"><h4>Service Warranty</h4>
                    <p>
                        Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in.
                    </p></span>
                </li>
            </ul>
        </div>
    </div>
    <hr class="dotted">
    <div class="text-center">
        <h2>Our Professional Team</h2>
        <p class="lead">
            Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel.
            <br> Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
        </p>
        <app-slider></app-slider>
    </div>
</div>
<div class="promo">
    <div class="sub-promo">
        <h3>What Clients say <br>
            <span>Id tale utinam ius, an mei omnium recusabo iracundia.</span></h3>
        <div class="container">
            <app-slider2></app-slider2>
        </div>
    </div>
</div>

</main>
<!-- <section class="promo_full">
    <div class="promo_full_wp">
        <div>
            <h3>What Clients say<span>Id tale utinam ius, an mei omnium recusabo iracundia.</span></h3>
            <div class="container">
                <div class="row">
                    <div class="">
                        <app-slider2></app-slider2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->