<header>
    <nav ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'" [valueWhenShown]="'translateY(0%)'" class="navbar top_nav">
        <div class="container">
            <div class="hidden-sm">"Experts since 1998"</div>

            <div id="top_links" class="d-flex">
                <span><a href="tel://004542344599" id="phone_top"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp; 0045
                        043204434</a>
                    <span id="opening"><i class="fa-regular fa-clock"></i>&nbsp;&nbsp;Mon - Sat 8.00/18.00</span>
                </span>&nbsp;
                <span class="hidden-xs"><a href="">Purchase this template</a></span>
            </div>
        </div>
    </nav>


    <nav ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="http://www.ansonika.com/homealarms/img/logo.png" width="45%" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 sidenav mb-lg-0">
                    <li class="nav-item dropdown">
                        <a href="#">HOME &nbsp;<i class="fa-solid fa-angle-down"></i></a>
                        <ul class="dropdown main-drop">
                            <li><a href="#">Home Layerslider</a></li>
                            <li><a href="#">Home with Contact form</a></li>
                            <li><a href="#">Home Video Background</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a routerLink="service" routerLinkActive="active" ariaCurrentWhenActive="page">SERVICES &nbsp;<i class="fa-solid fa-angle-down"></i></a>
                        <ul class="dropdown main-drop">
                            <li><a>Service Layout 1</a></li>
                            <li><a>Service Layout 2</a></li>
                            <li><a>Service Layout 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#">QUOTATION &nbsp;<i class="fa-solid fa-angle-down"></i></a>
                        <ul class="dropdown main-drop">
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Monitors</a></li>
                            <li><a href="#">Printers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT US</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a >SHOP &nbsp;<i class="fa-solid fa-angle-down"></i></a>
                        <ul class="dropdown main-drop">
                            <li><a routerLink="shop" routerLinkActive="active" ariaCurrentWhenActive="page">Shop List</a></li>
                            <li><a routerLink="shop-product" routerLinkActive="active" ariaCurrentWhenActive="page">Shop Product</a></li>
                            <li><a href="#">Shop Cart</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#"> PAGES &nbsp;<i class="fa-solid fa-angle-down"></i></a>
                        <ul class="dropdown main-drop">
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Monitors</a></li>
                            <li><a href="#">Printers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
