<main class="container-fluid shop">
    <div class="row">
        <div class="col-md-12">
            <div class="shop-section">
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="shop-card card-img-actions">
                    <img src="http://www.ansonika.com/homealarms/img/products/image-1.jpg" class="card-img  img-fluid"
                        width="100%" height="100%" alt="">
                    <div class="item-options clearfix">
                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                    class="fa-solid fa-cart-shopping"></i></span>
                            <div class="tool-tip">
                                Add to cart
                            </div>
                        </a>
                        <a href="" class="btn_shop"><span class="icon-heart-8"><i class="fa-solid fa-heart"></i></span>
                            <div class="tool-tip">
                                Add to Fav
                            </div>
                        </a>
                        <a href="" class="btn_shop"><span class="icon-eye"><i class="fa-solid fa-eye"></i></span>
                            <div class="tool-tip">
                                View
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light text-center">
                <div>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>
                <div class="">
                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                        <h3 class=" mt-2 mb-0">Smoke Sensor</h3>
                    </a>
                </div>
                <div class="price">
                    <span class="offer">$20.00</span> $15.00
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4  col-md-6">
        <div class="card">
            <div class="card-body">
                <div class=" shop-card card-img-actions">
                    <img src="http://www.ansonika.com/homealarms/img/products/image-2.jpg" class="card-img img-fluid"
                        width="100%" height="100%" alt="">
                    <div class="item-options clearfix">
                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                    class="fa-solid fa-cart-shopping"></i></span>
                            <div class="tool-tip">
                                Add to cart
                            </div>
                        </a>
                        <a href="" class="btn_shop"><span class="icon-heart-8"><i class="fa-solid fa-heart"></i></span>
                            <div class="tool-tip">
                                Add to Fav
                            </div>
                        </a>
                        <a href="" class="btn_shop"><span class="icon-eye"><i class="fa-solid fa-eye"></i></span>
                            <div class="tool-tip">
                                View
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light text-center">
                <div>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>
                <div class="">
                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                        <h3 class=" mt-2 mb-0">Motion Sensor</h3>
                    </a>
                </div>
                <div class="price">
                    <span class="offer">$20.00</span> $5.00
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4  col-md-6 mtop">
        <div class="card">
            <div class="card-body">
                <div class="shop-card card-img-actions">
                    <img src="http://www.ansonika.com/homealarms/img/products/image-3.jpg" class="card-img img-fluid"
                        width="100%" height="100%" alt="">
                    <div class="item-options clearfix">
                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                    class="fa-solid fa-cart-shopping"></i></span>
                            <div class="tool-tip">
                                Add to cart
                            </div>
                        </a>
                        <a href="" class="btn_shop"><span class="icon-heart-8"><i class="fa-solid fa-heart"></i></span>
                            <div class="tool-tip">
                                Add to Fav
                            </div>
                        </a>
                        <a href="" class="btn_shop"><span class="icon-eye"><i class="fa-solid fa-eye"></i></span>
                            <div class="tool-tip">
                                View
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light text-center">
                <div>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>
                <div class="">
                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                        <h3 class=" mt-2 mb-0">Outdoor Sensor</h3>
                    </a>
                </div>
                <div class="price">
                    $22.00
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</main>