<main>
    <section class="head-parallax">
    <div class="sub_content_in">
        <div class="container">
            <h1>SHOP</h1>
            <p>"Usu habeo equidem sanctus no ex melius"</p>
        </div>
    </div>
</section>
<div class="container-fluid shop">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                    <figure class="image-box">
                        <img src="http://www.ansonika.com/homealarms/img/products/image-2.jpg" alt="">
                    </figure>
                </div>
                <div class="info-column col-md-6 col-sm-6 col-xs-12">
                    <h2>Video Survelliance</h2>
                    <div class="price">
                        <span class="offer">$20.00</span> $15.00
                    </div>
                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <span class="rev">(3 Customer Reviews)</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, te eleifend philosophia sea, elitr evertitur sea id. Has te dictas
                        adversarium. Eum percipitur comprehensam ei. Mel eu molestiae adolescens scriptorem. Ex labores
                        albucius nec, mel et amet discere.
                    </p>
                    <div class="btn-grp mt-5">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">-</button>
                            <button type="button" class="btn btn-light">0</button>
                            <button type="button" class="btn btn-light">+</button>
                        </div>
                        <a href="" class="btn_1">Add To Cart </a>
                    </div>
                    <p class="cat">Categories: <span> Sensors</span> , <span> Accessories</span></p>
                </div>
            </div>


            <div class="product-info-tab mb-5 mt-5">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">PRODUCT DESCRIPTION</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">REVIEWS
                            (03)</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h3>Description</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                            approaches to corporate strategy foster collaborative thinking to further the overall value
                            proposition. Organically grow the holistic world view of disruptive innovation via workplace
                            diversity and empowerment.</p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <h3>3 Reviews Found</h3>
                        <div class="review-container">
                            <div class="review-box">
                                <figure>
                                    <img src="http://www.ansonika.com/homealarms/img/avatar1.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                    </div>
                                    <em>Admin – April 03, 2016:</em>
                                    <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar
                                        hendrerit. Cum sociis natoque penatibus et magnis dis
                                    </p>
                                </div>
                            </div>
                            <div class="review-box">
                                <figure>
                                    <img src="http://www.ansonika.com/homealarms/img/avatar2.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                    </div>
                                    <em>Ahsan – April 01, 2016:</em>
                                    <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar
                                        hendrerit. Cum sociis natoque penatibus et magnis dis
                                    </p>
                                </div>
                            </div>
                            <div class="review-box">
                                <figure>
                                    <img src="http://www.ansonika.com/homealarms/img/avatar3.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                        <i class="fa fa-star star"></i>
                                    </div>
                                    <em>Sara – March 31, 2016:</em>
                                    <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar
                                        hendrerit. Cum sociis natoque penatibus et magnis dis
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="hr2">
                        <h3>Add a Review</h3>
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Name *</label>
                                <input type="email" placeholder="John Doe" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Email *</label>
                                <input type="password" placeholder="John@gmail.com" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Website *</label>
                                <input type="email" placeholder="http://" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Rating *</label>
                                <div class="rating">
                                    <a href="#0" class="rate-box" title="1 Out of 5"><span class="icon-star"><i class="fa fa-star star"></i></span></a>
                                    <a href="#0" class="rate-box" title="2 Out of 5"><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span></a>
                                    <a href="#0" class="rate-box" title="3 Out of 5"><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span></a>
                                    <a href="#0" class="rate-box" title="4 Out of 5"><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span></a>
                                    <a href="#0" class="rate-box" title="5 Out of 5"><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span><span class="icon-star"><i class="fa fa-star star"></i></span></a>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="inputCity" class="form-label">Your Review
                                </label>
                                <input type="textarea" height="100px" class="form-control textarea" id="inputCity">
                            </div>
                            <div class="col-md-4">
                                <a href="" class="btn_1 ms-0">Add Review </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <h2>Related Products</h2>
            <app-shop-compo></app-shop-compo>

        </div>
        <div class="col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="c">
                        <form>
                            <input type="search" placeholder="Search">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <hr class="hr2">
                </div>
                <div class="widget" id="cat_shop">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">Motion sensors</a></li>
                        <li><a href="#">Video Surveillance</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Domotic</a></li>
                    </ul>
                </div>
                <hr class="hr2">
                <div class="widget related-products" id="">
                    <h4>TOP RELATED</h4>
                    <div class="row g-0">
                        <div class="col-3">
                            <img src="http://www.ansonika.com/homealarms/img/products/image-2.jpg" width="90%"
                                height="90%">
                        </div>
                        <div class="col-8 mleft">
                            <div class="card-body ">
                                <a href="#" class="text-muted mb-0" data-abc="true">
                                    <h3 class=" mt-2 mb-0">Motion Sensor</h3>
                                </a>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>

                                <div class="price">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 mt-3">
                        <div class="col-3">
                            <img src="http://www.ansonika.com/homealarms/img/products/thumb-2.jpg" width="90%"
                                height="90%">
                        </div>
                        <div class="col-8 mleft">
                            <div class="card-body ">
                                <a href="#" class="text-muted mb-0" data-abc="true">
                                    <h3 class=" mt-2 mb-0">Siren</h3>
                                </a>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>

                                <div class="price">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 mt-3">
                        <div class="col-3">
                            <img src="http://www.ansonika.com/homealarms/img/products/thumb-3.jpg" width="90%"
                                height="90%">
                        </div>
                        <div class="col-8 mleft">
                            <div class="card-body ">
                                <a href="#" class="text-muted mb-0" data-abc="true">
                                    <h3 class=" mt-2 mb-0">Smoke Sensor</h3>
                                </a>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>

                                <div class="price">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
