
<div class="swiper-1 swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="team-item">
                <div class="team-item-img">
                    <img width="100%" src="http://www.ansonika.com/homealarms/img/team/team-1.jpg" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>Mitchell Young</h4>
                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                            <div class="social-footer">
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                                <span><i class="fa-brands fa-google"></i></span>
                                <span><i class="fa-brands fa-vimeo-v"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="team-item">
                <div class="team-item-img">
                    <img width="100%" src="http://www.ansonika.com/homealarms/img/team/team-2.jpg" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>Ronald Green</h4>
                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                            <div class="social-footer">
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                                <span><i class="fa-brands fa-google"></i></span>
                                <span><i class="fa-brands fa-vimeo-v"></i></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="team-item">
                <div class="team-item-img">
                    <img width="100%" src="http://www.ansonika.com/homealarms/img/team/team-3.jpg" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>Carl Peppard</h4>
                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                            <div class="social-footer">
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                                <span><i class="fa-brands fa-google"></i></span>
                                <span><i class="fa-brands fa-vimeo-v"></i></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="team-item">
                <div class="team-item-img">
                    <img width="100%" src="http://www.ansonika.com/homealarms/img/team/team-4.jpg" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>Sandra Bullock</h4>
                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                            <div class="social-footer">
                                <span><i class="fa-brands fa-facebook-f"></i></span>
                                <span><i class="fa-brands fa-twitter"></i></span>
                                <span><i class="fa-brands fa-google"></i></span>
                                <span><i class="fa-brands fa-vimeo-v"></i></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
