<main>
    <section class="head-parallax">
    <div class="sub_content_in">
        <div class="container">
            <h1>SHOP</h1>
            <p>"Usu habeo equidem sanctus no ex melius"</p>
        </div>
    </div>
</section>
<div class="container-fluid shop">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="shop-section">

                <div class="items-sorting">
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="results_shop">
                                Showing 1–9 of 15 results
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="form-group">
                                <select name="sort-by">
                                    <option>Sorting by</option>
                                    <option>Order</option>
                                    <option>Price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Sort By-->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="shop-card card-img-actions">
                                    <img src="http://www.ansonika.com/homealarms/img/products/image-1.jpg"
                                        class="card-img  img-fluid" width="100%" height="100%" alt="">
                                    <div class="item-options clearfix">
                                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                                    class="fa-solid fa-cart-shopping"></i></span>
                                            <div class="tool-tip">
                                                Add to cart
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-heart-8"><i
                                                    class="fa-solid fa-heart"></i></span>
                                            <div class="tool-tip">
                                                Add to Fav
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-eye"><i
                                                    class="fa-solid fa-eye"></i></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="">
                                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                                        <h3 class=" mt-2 mb-0">Smoke Sensor</h3>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="offer">$20.00</span> $15.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class=" shop-card card-img-actions">
                                    <img src="http://www.ansonika.com/homealarms/img/products/image-2.jpg"
                                        class="card-img img-fluid" width="100%" height="100%" alt="">
                                    <div class="item-options clearfix">
                                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                                    class="fa-solid fa-cart-shopping"></i></span>
                                            <div class="tool-tip">
                                                Add to cart
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-heart-8"><i
                                                    class="fa-solid fa-heart"></i></span>
                                            <div class="tool-tip">
                                                Add to Fav
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-eye"><i
                                                    class="fa-solid fa-eye"></i></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="">
                                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                                        <h3 class=" mt-2 mb-0">Motion Sensor</h3>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="offer">$20.00</span> $5.00
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card  mtop">
                            <div class="card-body">
                                <div class="shop-card card-img-actions">
                                    <img src="http://www.ansonika.com/homealarms/img/products/image-3.jpg"
                                        class="card-img img-fluid" width="100%" height="100%" alt="">
                                    <div class="item-options clearfix">
                                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                                    class="fa-solid fa-cart-shopping"></i></span>
                                            <div class="tool-tip">
                                                Add to cart
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-heart-8"><i
                                                    class="fa-solid fa-heart"></i></span>
                                            <div class="tool-tip">
                                                Add to Fav
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-eye"><i
                                                    class="fa-solid fa-eye"></i></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="">
                                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                                        <h3 class=" mt-2 mb-0">Outdoor Motion Sensor</h3>
                                    </a>
                                </div>
                                <div class="price">
                                    $22.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="shop-card card-img-actions">
                                    <img src="http://www.ansonika.com/homealarms/img/products/image-4.jpg"
                                        class="card-img  img-fluid" width="100%" height="100%" alt="">
                                    <div class="item-options clearfix">
                                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                                    class="fa-solid fa-cart-shopping"></i></span>
                                            <div class="tool-tip">
                                                Add to cart
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-heart-8"><i
                                                    class="fa-solid fa-heart"></i></span>
                                            <div class="tool-tip">
                                                Add to Fav
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-eye"><i
                                                    class="fa-solid fa-eye"></i></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="">
                                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                                        <h3 class=" mt-2 mb-0">Video Survelliance</h3>
                                    </a>
                                </div>
                                <div class="price">
                                    $22.00
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt">
                        <div class="card">
                            <div class="card-body">
                                <div class="shop-card card-img-actions">
                                    <img src="http://www.ansonika.com/homealarms/img/products/image-5.jpg"
                                        class="card-img  img-fluid" width="100%" height="100%" alt="">
                                    <div class="item-options clearfix">
                                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                                    class="fa-solid fa-cart-shopping"></i></span>
                                            <div class="tool-tip">
                                                Add to cart
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-heart-8"><i
                                                    class="fa-solid fa-heart"></i></span>
                                            <div class="tool-tip">
                                                Add to Fav
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-eye"><i
                                                    class="fa-solid fa-eye"></i></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="">
                                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                                        <h3 class=" mt-2 mb-0">Video Survelliance HD</h3>
                                    </a>
                                </div>
                                <div class="price">
                                    $15.00
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt">
                        <div class="card">
                            <div class="card-body">
                                <div class=" shop-card  card-img-actions">
                                    <img src="http://www.ansonika.com/homealarms/img/products/image-6.jpg"
                                        class="card-imgimg-fluid" width="100%" height="100%" alt="">
                                    <div class="item-options clearfix">
                                        <a href="" class="btn_shop"><span class="icon-basket"><i
                                                    class="fa-solid fa-cart-shopping"></i></span>
                                            <div class="tool-tip">
                                                Add to cart
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-heart-8"><i
                                                    class="fa-solid fa-heart"></i></span>
                                            <div class="tool-tip">
                                                Add to Fav
                                            </div>
                                        </a>
                                        <a href="" class="btn_shop"><span class="icon-eye"><i
                                                    class="fa-solid fa-eye"></i></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="">
                                    <a href="#" class="text-muted1 mb-0" data-abc="true">
                                        <h3 class=" mt-2 mb-0">Triple Siren</h3>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="offer">$20.00</span> $15.00
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr2">
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="c">
                        <form>
                            <input type="search" placeholder="Search">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <hr class="hr2">
                </div>
                <div class="widget" id="cat_shop">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="#">Motion sensors</a></li>
                        <li><a href="#">Video Surveillance</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Domotic</a></li>
                    </ul>
                </div>
                <hr class="hr2">
                <div class="widget related-products" id="">
                    <h4>TOP RELATED</h4>
                    <div class="row">
                        <div class="col-4">
                            <img src="http://www.ansonika.com/homealarms/img/products/image-2.jpg" width="90%"
                                height="90%">
                        </div>
                        <div class="col-8">
                            <div class="card-body ">
                                <a href="#" class="text-muted mb-0" data-abc="true">
                                    <h3 class=" mt-2 mb-0">Motion Sensor</h3>
                                </a>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>

                                <div class="price mt-2">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="http://www.ansonika.com/homealarms/img/products/thumb-2.jpg" width="90%"
                                height="90%">
                        </div>
                        <div class="col-8">
                            <div class="card-body ">
                                <a href="#" class="text-muted mb-0" data-abc="true">
                                    <h3 class=" mt-2 mb-0">Siren</h3>
                                </a>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>

                                <div class="price mt-2">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img src="http://www.ansonika.com/homealarms/img/products/thumb-3.jpg" width="90%"
                                height="90%">
                        </div>
                        <div class="col-8">
                            <div class="card-body ">
                                <a href="#" class="text-muted mb-0" data-abc="true">
                                    <h3 class=" mt-2 mb-0">Smoke Sensor</h3>
                                </a>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>

                                <div class="price mt-2">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
</main>