main{
    position: relative;
    z-index: 99;
    background: white;
    top: 14%;
    margin-bottom: 30%;
}

.carousel-control-prev {
    justify-content: start !important;
    visibility: hidden;
}

.carousel-control-next {
    justify-content: end !important;
    right: 10px;
    visibility: hidden;
}

.carousel:hover .carousel-control-prev {
    visibility: visible;
}

.carousel:hover .carousel-control-next {
    visibility: visible;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem !important;
    height: 15rem !important;
}

.carousel-item {
    height: 600px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.carousel-caption {

    // bottom: 17.25rem !important;
    // left: -31%;
    text-align: center;

    .btn {
        background-color: #f33;
        color: #ffff;
        padding: 11px 34px;
        border-radius: 4%;
        font-size: 12px;
        font-weight: 500;

    }

    .btn:hover {
        background: #06c;
    }

    h1 {
        font-size: 56.9531px;
        font-weight: 900;
    }

    p {
        font-size: 27.9781px;
        margin-bottom: 3%;
    }
}

.caption1 {
    bottom: 14.5rem !important;
    left: 9% !important;
    position: absolute !important;
    text-align: start;
}

.caption2 {
    bottom: 14.5rem !important;
    left: 10% !important;
}

.caption3 {
    bottom: 14.5rem !important;
    left: 10% !important;
}

.get-quote {
    padding: 2em 5em;
    background-color: #ED2524;
    color: #ffff;

    h1 {
        margin: 5px 0 0 0;
        font-size: 32px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
    }

    .btn {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: #fff;
        padding: 7px 30px;
        font-size: 14px;
        -moz-transition: all .3s;
        transition: all .3s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 500;
        background-color: #222;
        float: right;
        margin-top: 5px;
    }

    .btn:hover {
        color: #222;
        background-color: #fff;

    }
}

.feat-home {
    background-color: #f3f3f3;
    padding: 6% 0% 3% 5%;
    font-family: 'Poppins', sans-serif;

    .box-feat {
        position: relative;
        margin-bottom: 35px;
        color: #555;

        .back-white {
            width: 90px;
            height: 90px;
            z-index: 999;
            background-color: rgb(255, 255, 255);
            border-radius: 50px;
            text-align: center;
            line-height: 90px;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 7px;
            font-weight: 500;
            color: #222;
            font-family: 'Poppins', sans-serif;

        }

        p {
            font-size: 13.5px;
            font-weight: 500;
            color: #0e0e0ea6;
            font-family: 'Poppins', sans-serif;

        }
    }

}

.steps {
    padding: 60px 51px 35px;

    h3 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 1;

        strong {
            color: #f33;
            display: block;
        }
    }

    .lead {
        margin-bottom: 20px;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.4;
        color: #555;
    }

    ul {
        list-style: none;
        padding-left: 0%;
        color: #555;

        li {
            position: relative;
            font-size: 16px;
            margin-bottom: 10px;

            i {
                margin-right: 10px;
            }
        }
    }

    hr {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    h4 {
        font-size: 22px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    figure {
        overflow: hidden;

        p {
            margin: 0 0 25px 0;
            color: #555;
        }


        .parent {
            width: 100%;
            height: 177px;
            overflow: hidden;
            transition: all .5s;
            outline: 0px;
            border: none;
            border-radius: 0%;
            border-bottom: #f33 3px solid;

        }

        .child {
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-color: black;
            /* fallback color */
            background-position: center;
            background-size: cover;
            object-fit: cover;
            transition: all .5s;

        }

        .child2 {
            background-image: url("http://www.ansonika.com/homealarms/img/service_home_2.jpg");
        }

        .child1 {
            background-image: url("http://www.ansonika.com/homealarms/img/service_home_1.jpg");
        }

        .child3 {
            background-image: url("http://www.ansonika.com/homealarms/img/service_home_3.jpg");
        }

        .parent:hover .child,
        .parent:focus .child {
            transform: scale(1.15);
            transition: all .8s;
        }
    }
}

.bg-content {
    display: table;
    z-index: 1;
    width: 100%;
    margin-bottom: 23%;
    height: 500px;
    background: url("http://www.ansonika.com/homealarms/img/bg_parallax.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    // background-position: -293px 0px, 30% 33%;

}

.bg-content>div {
    display: table-cell;
    padding: 0 20%;
    vertical-align: middle;
    text-align: center;
    color: #222;
    font-size: 18px;
    font-weight: 400;
    background: rgba(255, 255, 255, .5);

    h3 {
        font-size: 48px;
        font-weight: 300;
        color: #222;
        margin-bottom: 0.5em;
    }

    a {
        color: #ED2524;
    }

    p {
        line-height: 24px;
    }

    i {
        margin-top: 0.3em;
    }

    .text-end {
        position: relative;
        right: -480px;
        top: -10px;

    }
}

.modal-content {
    width: 0px !important;
    background-color: transparent;
}

.modal-body {
    height: 400px;
    width: 100%;
    padding: 0%;

    iframe {
        width: 500px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {

    .carousel-caption {
        h1 {
            font-size: 20px;
            margin-bottom: 0%;
        }

        p {
            font-size: 12px;
        }

        .btn {
            padding: 5px 11px;
            font-size: 8px;
        }
    }

    .caption1,
    .caption2,
    .caption3 {
        bottom: 0rem !important;
        text-align: center !important;
    }

    .carousel-item {
        height: 156px;
    }

    .get-quote {
        text-align: center;
        font-family: 'Poppins', sans-serif;
            padding: 2.2em 2em;
        h1 {
            font-size: 24px;
            line-height: 24px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }

        .btn {
            float: none;
        }
    }

    .box-feat {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .bg-content>div {
        padding: 0 5%;
        h3 {
            font-size: 34px;
        }
    }
.feat-home{
    padding: 6% 0% 3% 0%;

}
    .steps {
        padding: 60px 4px 35px;
        h4{
            margin-bottom: 2%;
        }
    }
    .bg-content{
        margin-bottom: 157% !important;
        div{
            p{
                font-size: 16px;
            }
        }
    }
    main{
        top: 0% !important;
        margin-bottom: 0% !important;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    main{
        margin-bottom: 84% !important;
        top: 4%;
    }
    // .carousel{
    //     height: 533px !important;
    // }
    .carousel-caption {
        h1 {
            font-size: 34px;
            margin-bottom: 3%;
        }

        p {
            font-size: 24px;
        }

        .btn {
            padding: 5px 11px;
            font-size: 12px;
        }
    }
    .get-quote {
        text-align: center;

        h1 {
            font-size: 28px;
            margin-bottom: 1%;
        }

        .btn {
            float: none;
        }
    }

    .navbar-collapse.show{
        margin-top: 5%;
    }
    .steps {
        padding: 60px 1px 35px;
    }
}