<main id="main" class="main-body">

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="http://www.ansonika.com/homealarms/img/slides/slide_1.jpg" class="d-block" alt="...">
            <div class="carousel-caption caption1 d-md-block">
                <h1 data-aos="flip-down">FELL SAFE IN YOUR HOUSE!</h1>
                <p data-aos="fade-left" >"We provide Reliable and Affordable services"</p>
                <button data-aos="fade-left"  type="button" class="btn">READ MORE</button>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="http://www.ansonika.com/homealarms/img/slides/slide_3.jpg" class="d-block" alt="...">
            <div class="carousel-caption caption2 d-md-block">
                <h1 data-aos="flip-down">EXPERT AND QUALIFIED STAFF!</h1>
                <p  data-aos="fade-left">"Our Professional workers will take care of it it"</p>
                <button  data-aos="fade-left" type="button" class="btn">READ MORE</button>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="http://www.ansonika.com/homealarms/img/slides/slide_2.jpg" class="d-block" alt="...">
            <div class="carousel-caption caption3 d-md-block">
                <h1 data-aos="flip-down">MANAGE EASLY VIA APP!</h1>
                <p  data-aos="fade-left">"In or out your house with few clicks"</p>
                <button  data-aos="fade-left" type="button" class="btn">READ MORE</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid get-quote">
    <div class="row">
        <div class="col-lg-9">
            <h1>Looking for a quality and affordable service?</h1>
        </div>
        <div class="col-lg-3">
            <button type="button" class="btn">GET AN ONLINE QUOTE</button>
        </div>
    </div>
</div>
<div class="feat-home">
    <div class="container-fluid">
        <div class="row gx-0">
            <div class="col-lg-6">
                <div class="row box-feat">
                    <div class="col-lg-3 col-md-3 col-sm-12 back-white"><img src="http://www.ansonika.com/homealarms/img/svg_icons/shield.svg"
                            alt=""></div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h3>Full Protection</h3>
                        <p>Lorem ipsum dolor sit amet, no movet simul laoreet pri, aperiri fabulas expetenda ei pro. Sed
                            vero assentior ad, est vide liber viris ne. Mea saperet evertitur intellegebat ei, an labore
                            cetero eos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row box-feat">
                    <div class="col-lg-3 col-md-3 col-sm-12 back-white"><img src="http://www.ansonika.com/homealarms/img/svg_icons/mobile.svg"
                            alt=""></div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h3>Management via App</h3>
                        <p>Mea saperet evertitur intellegebat ei, an labore cetero eos. Quo no facilisis contentiones,
                            enim graeci vim ea, justo graecis ne qui. His tation theophrastus intellegebat ut, hinc
                            fierent nam ea.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <div class="row box-feat">
                    <div class="col-lg-3 col-md-3 col-sm-12 back-white"><img
                            src="http://www.ansonika.com/homealarms/img/svg_icons/video-camera.svg" alt=""></div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h3>HD Video Camera</h3>
                        <p>Lorem ipsum dolor sit amet, no movet simul laoreet pri, aperiri fabulas expetenda ei pro. Sed
                            vero assentior ad, est vide liber viris ne. Mea saperet evertitur intellegebat ei, an labore
                            cetero eos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row box-feat">
                    <div class="col-lg-3 col-md-3 col-sm-12 back-white"><img
                            src="http://www.ansonika.com/homealarms/img/svg_icons/microphone.svg" alt=""></div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h3>Microphone</h3>
                        <p>Mea saperet evertitur intellegebat ei, an labore cetero eos. Quo no facilisis contentiones,
                            enim graeci vim ea, justo graecis ne qui. His tation theophrastus intellegebat ut, hinc
                            fierent nam ea.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <div class="row box-feat">
                    <div class="col-lg-3 col-md-3 col-sm-12 back-white"><img
                            src="http://www.ansonika.com/homealarms/img/svg_icons/settings.svg" alt=""></div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h3>Tecnical Support</h3>
                        <p>Lorem ipsum dolor sit amet, no movet simul laoreet pri, aperiri fabulas expetenda ei pro. Sed
                            vero assentior ad, est vide liber viris ne. Mea saperet evertitur intellegebat ei, an labore
                            cetero eos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row box-feat">
                    <div class="col-lg-3 col-md-3 col-sm-12 back-white"><img
                            src="http://www.ansonika.com/homealarms/img/svg_icons/clipboard.svg" alt=""></div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h3>Certifications</h3>
                        <p>Mea saperet evertitur intellegebat ei, an labore cetero eos. Quo no facilisis contentiones,
                            enim graeci vim ea, justo graecis ne qui. His tation theophrastus intellegebat ut, hinc
                            fierent nam ea.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="steps">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h3><strong>Calculate NOW</strong> your Quote!</h3>
                <p class="lead">Answer these questions in less than a minute.</p>
                <ul>
                    <li><i class="fa-regular fa-circle-check"></i>Easier</li>
                    <li><i class="fa-regular fa-circle-check"></i>Faster</li>
                    <li><i class="fa-regular fa-circle-check"></i>Without obligation</li>
                    <li><i class="fa-regular fa-circle-check"></i>30% Price off</li>
                </ul>
            </div>
            <div class="col-lg-8">
<app-stepper></app-stepper>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <div class="parent card">
                        <div class="child child1"></div>
                    </div>
                    <figcaption>
                        <h4>Wiring installation</h4>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id
                            tempor imperdiet deterruisset, doctus volumus.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <div class="parent card">
                        <div class="child child2"></div>
                    </div>

                    <figcaption>
                        <h4>Security Plan</h4>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id
                            tempor imperdiet deterruisset, doctus volumus.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <div class="parent card">
                        <div class="child child3"></div>
                    </div>
                    <figcaption>
                        <h4>Security Check</h4>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id
                            tempor imperdiet deterruisset, doctus volumus.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="bg-content">
    <div>
        <h3>View our <strong>Video Demo</strong></h3>
        <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
            deterruisset, doctus volumus explicari qui ex.
        </p>
        <a data-bs-toggle="modal" data-bs-target="#videoModal"
            data-bs-theVideo="http://www.youtube.com/embed/loFtozxZG0s"><i class="fa-regular fa-3x fa-circle-play"></i></a>

        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="text-end">
                    <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        
                        <div>
                            <iframe
                                src="https://www.youtube.com/embed/Qi8bskIhfw8?controls=0" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<!-- 
<iframe width="560" height="315" src="https://www.youtube.com/embed/Qi8bskIhfw8?controls=0" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> -->
<!-- <script>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qi8bskIhfw8?controls=0" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    $(document).ready(function () {
        autoPlayYouTubeModal();
    });
</script> -->